/* GENERAL STYLES */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

html::-webkit-scrollbar {
	display: none;
}

.no-scroll::-webkit-scrollbar {
	display: none;
}

.no-scroll-global {
	overflow-y: hidden;
}

/* HOME STYLES */
.custom-shadow {
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
		rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.custom-shadow:active {
	box-shadow: none;
}

/* ABOUT STYLES */
.shape {
	clip-path: polygon(87% 0, 13% 0, 50% 28%);
}

/* CONTACT STYLES */
.resize {
	resize: none;
}

.resize::-webkit-scrollbar {
	display: none;
}
